/* Estilos gerais */


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
/* Estilos para o resultado em PHP */
.resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
}

